.portfolio_value {
  text-align: right;
  font-size: 10px;
  color: #5ac53b;
  padding-left: 10px;
}

.row__container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  cursor: pointer;
}
