.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  color: white;
  padding-bottom: 20px;
}

.header__logo {
  margin-left: 48px;
}

.header__search {
  display: flex;
  height: 40px;
  padding: 10px;
  align-items: center;
}

.header__searchContainer > input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  colot: white;
}

.header__searchContainer > input:focus {
  outline: none;
}

.header__menuItems {
  margin-left: 48px;
  margin-right: 48px;
}

.header__menuItems a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}

.header__menuItems a:hover {
  color: #5ac53b;
}

.header__searchContainer h1 {
  color: rgb(137, 151, 137);
}
